<!-- show.html.erb -->

<style>
  body {
    background-color: #343a40;
    color: #fff;
    margin: 0;
  }

  .header {
    background-color: #343a40;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 24px;
    margin: 0;
  }

  .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .home-link,
  .logout-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
  }

  .home-link:hover,
  .logout-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .container {
    padding: 20px;
  }

  .knowledge-domain-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .knowledge-domain-card {
    background-color: #495057;
    padding: 15px;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
  }

  .knowledge-domain-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }

  .knowledge-domain-stars {
    color: #28a745;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }

  .upvote-button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
</style>

<div class="header bg-dark p-3 rounded">
  <div class="container d-flex justify-content-between align-items-center text-white">
    <h1>Perfil de <%= @user.name %></h1>
    <div class="header-links">
      <%= link_to 'Home', root_path, class: 'home-link' %>
      <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-link' %>
    </div>
  </div>
</div>


<div class="container">
  <div class="knowledge-domain-grid">
    <% if @user_knowledge_domains.present? %>
      <% @user_knowledge_domains.each do |user_knowledge_domain| %>
        <%= render partial: 'knowledge_domain_card', locals: { user_knowledge_domain: user_knowledge_domain, is_profile_owner: @is_profile_owner } %>
      <% end %>
    <% else %>
      <p>Nenhum domínio selecionado! Adicione o seu primeiro domínio:</p>
    <% end %>
  </div>
  <%= link_to 'Editar Domínios', edit_user_path(@user), class: 'btn btn-primary mt-3' %>
</div>
