<p style="color: green"><%= notice %></p>

<%= link_to 'Home', root_path %>

<%= render @post %>

<% if @post.author == current_user %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>

<div class="comments">
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
